html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    block alerts
    block content

    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(type="text/javascript", src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
    
    script(src='/socket.io/socket.io.js')
    script(type="text/javascript", src="/javascripts/socket-init.js")
    script(type="text/javascript", src="/javascripts/script.js")
    script(type="text/javascript", src="/javascripts/messages.js")